@import url('https://unpkg.com/open-props');

body {
    margin: 0;
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-text);
}

header {
    text-align: center;
    background-color: var(--color-light);
    padding: var(--spacing-large);
}

input[type="checkbox"] {
    display: none; /* Esconde o checkbox */
}

nav {
    background-color: var(--color-dark);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    position: absolute; /* Torna o menu absoluto */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: none; /* Inicialmente escondido */
}

nav a {
    color: var(--color-light);
    text-decoration: none;
    padding: var(--spacing-medium);
}

.material-icons {
    cursor: pointer;
    padding: var(--spacing-small);
    position: fixed; /* Fixa o ícone na tela */
    top: var(--spacing-small);
    right: var(--spacing-small);
    z-index: 1001; /* Para ficar acima do menu */
}

#menu-toggle:checked + nav {
    display: flex; /* Mostra o menu quando checkbox está checado */
}

#menu-toggle:checked + nav + #open-menu {
    display: none; /* Esconde o botão de abrir menu quando menu está aberto */
}

#menu-toggle:not(:checked) + nav + #open-menu {
    display: block; /* Mostra o botão de abrir menu quando menu está fechado */
}

.main {
    padding: var(--spacing-large);
}

.objetos-tema {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-medium); /* Espaçamento entre os objetos */
}

.objeto {
    flex: 1 1 calc(50% - var(--spacing-medium)); /* 2 colunas */
    max-width: calc(50% - var(--spacing-medium)); /* 2 colunas */
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: var(--spacing-small);
    background-color: var(--color-card);
    transition: transform 0.2s; /* Transição para efeito ao passar o mouse */
}

.objeto:hover {
    transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
}

img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

@media (max-width: 768px) {
    .objetos-tema {
        flex-direction: column; /* Empilha os objetos em telas pequenas */
    }

    .objeto {
        flex: 1 1 100%; /* Cada objeto ocupa 100% da largura */
    }
}

@media print {
    nav {
        display: none; /* Esconde o menu na impressão */
    }

    .material-icons {
        display: none; /* Esconde os ícones do menu na impressão */
    }
}
